body {
    margin: 0px 0px 0px 0px;
    
}

#header {
    height: 50px;
    background-color: black;
    width: 100%;
    color: white;
    position: fixed;
    
 
} 

.shoppingcart-logo {
    float: right;
    margin-right: 10px;
}

#main {
    
    text-align: center;
    
    
}

img {
    height: 200px;
}


.allProductsClass {
    padding-top: 50px;
    height: 350px;
    text-align: center;
    background-color: grey;
   
    
}

@media (max-width: 600px) {
    #main {
        flex-flow: row;
    }
}