body {
    margin: 0px 0px 0px 0px;
    
}

#header {
    height: 50px;
    background-color: black;
    width: 100%;
    color: white;
    
 
} 

#main {
    padding-top: 50px;
    background-color: red;
    
}

#products {
    border: 1px solid black;
} 

div {
    margin: auto;
}

img {
    height: 200px;
}

