body {
    margin: 0px 0px 0px 0px;
    font-family: helvetica, sans-serif;
   
    
}

#header {
    height: 80px;
    background-color: #212121;
    width: 100%;
    color: white;
    position: fixed; 
    align-items: center;
    top: 0;
    display: flex;
    justify-content: space-between;
    
 
} 

a {
    text-decoration: none;
    color: white;
}

h1 {
    margin-left: 20px;
}
.shoppingcart-logo {    
    margin-right: 20px;
    font-size: 30px;
    
   
    
}

#main {
    
    text-align: center;
    
}

img {
    height: 200px;
}



.allProductsClass {
    padding-top: 80px;
    height: 350px;
    text-align: center;
    /*background-color: #F5F5F5;  */
}

button {
    background-color: #5596F5;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    padding: 15px;
   
}
#main-shoppingcart {
    padding-top: 50px;
    text-align: center;
}

/*@media (max-width: 600px) {
    body {
        flex-flow: row;
        width: 100%;
    }
}*/